nodered json file.txt
[{"id":"e696504d.3c748","type":"tab","label":"vegetable bot","disabled":false,"info":""},{"id":"60f955c6.8c6eac","type":"watson-conversation-v1","z":"e696504d.3c748","name":" Bot","workspaceid":"130b0380-3405-434b-bb97-e410b82f65a5","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com","timeout":"","optout-learning":false,"x":430,"y":120,"wires":[["dae9b783.6438d8"]]},{"id":"d8e66bb7.fe2bd8","type":"inject","z":"e696504d.3c748","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hi","payloadType":"str","x":170,"y":100,"wires":[["60f955c6.8c6eac"]]},{"id":"c39040f7.5ab53","type":"debug","z":"e696504d.3c748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":160,"wires":[]},{"id":"dae9b783.6438d8","type":"function","z":"e696504d.3c748","name":"","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse{\n    msg.url=\"https://cdn.britannica.com/s:700x500/17/196817-050-6A15DAC3/vegetables.jpg\"\n    msg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":160,"wires":[["c39040f7.5ab53","7c8c043c.82b50c","f1187a97.f0ec28","2e324348.1ec3ec"]]},{"id":"a8f10163.69043","type":"ui_form","z":"e696504d.3c748","name":"","label":"","group":"2792fbff.8fd224","order":2,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":230,"y":300,"wires":[["a716b5aa.755e18"]]},{"id":"a716b5aa.755e18","type":"function","z":"e696504d.3c748","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":320,"wires":[["60f955c6.8c6eac","c6652193.3ebfe"]]},{"id":"c6652193.3ebfe","type":"ui_text","z":"e696504d.3c748","group":"2792fbff.8fd224","order":3,"width":0,"height":0,"name":"","label":"you","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":380,"wires":[]},{"id":"7c8c043c.82b50c","type":"ui_text","z":"e696504d.3c748","group":"2792fbff.8fd224","order":4,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":220,"wires":[]},{"id":"f1187a97.f0ec28","type":"ui_audio","z":"e696504d.3c748","name":"","group":"2792fbff.8fd224","voice":"en-US","always":"","x":740,"y":80,"wires":[]},{"id":"2e324348.1ec3ec","type":"ui_template","z":"e696504d.3c748","group":"2792fbff.8fd224","name":"","order":6,"width":"6","height":"11","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":860,"y":120,"wires":[[]]},{"id":"2792fbff.8fd224","type":"ui_group","z":"","name":"Vegetable-Bot","tab":"68b46869.472188","order":1,"disp":true,"width":"6","collapse":false},{"id":"68b46869.472188","type":"ui_tab","z":"","name":"Covid-19 ESSENTIALS","icon":"dashboard","disabled":false,"hidden":false}]